################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/.vscode
**/bin
**/obj
**/src/pratododia-project/appsettings.json